{% extends "layout.html" %}
{% block title %}
Add Post
{% endblock %}
{% block content %}
<div>
    <h1>Add Post Site</h1>
    <form action="/add-post" method="POST">
        <div>
            <p>{{ addPostForm.title.label }}</p>
            <div>{{ addPostForm.title }}</div>
        </div>
        <div>
            <p>{{ addPostForm.author.label }}</p>
            <div>{{ addPostForm.author }}</div>
        </div>
        <input type="text" id="hashtag-input" name="hashtag">
        <div class="hashtags-container">
        </div>
        <input type="submit" value="Add">
    </form>
</div>
{% endblock %}