{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div>
    <img src="{{ url_for('static', filename='images/pexels-jarod-barton.jpg')}}" class="main-image">
</div>
<div class="d-flex">
    <div class="half first cropped">
        <img src="{{ url_for('static', filename='images/pexels-tranmautritam.jpg')}}" class="sub-image main-image">
    </div>
    <div class="half second">
        <h1>WELCOME TO 360 <span>&#176;</span> TRAVEL INSPIRATIONS</h1>
        <p>You're travel lover? It's perfect place for you! This blog is about my travel experiences and tips. Do you
            want to join this trip?</p>
        <button>Expole the Blog</button>
    </div>
</div>

{% endblock %}