:root {
    --primary: #F46F4C;
}

html * {
    font-family: 'Sen', Arial, sans-serif;
}

.navbar .navbar-brand {
    color: var(--primary);
    font-family: 'Playfair Display', serif;
    font-size: 1.375rem;
}